<!DOCTYPE html>
<html>
<head> 
  
  <% include partials/head.ejs %>

</head>
<body>
  
<br>

<!-- INITIAL SCREEN -->
<div id="initID">
    <div id="loaderID" class="loader"></div>
    <ul id="initialStatusID"></ul>
</div>

<!-- MAIN SCREEN AFTER METAMASK INFO LOADED -->
<div id="main" class="container-fluid">
    <div class="row">
        <div class="col-md-10 offset-1" style="background-color:aliceblue;">                
            <h3 class="text-center">A Metacube Real Estate Dapp</h3>
        </div>
        
    </div>
    <div class="row">
        <div class="col-md-6  offset-1" style="background-color:aliceblue;">                
            <% include partials/components/landlist.ejs %>
        </div>
        <div class="col-md-4 " style="background-color:#B0E0E6;">
            <div class="ibox">
                <% include partials/components/operations.ejs %>
            </div>
        </div>
        
    </div>
    
    <div class="row">
        
                
    </div>
    
    <div class="row">
        <div class="col-10 offset-1" style="background-color:bisque; height:200px;">
            <% include partials/components/status.ejs %>
            <div class="row">
            <p class="col-6"><small>Created By Creation for Innovation</a></small></p>
            
            </div>
        </div>
    </div>


</div>

<% include partials/jsincludes.ejs %>

<script src="/js/arrive.min.js"></script>
<script src="/js/config.js"></script>
<script src="/js/init.js"></script>
<script src="/js/loadLands.js"></script>
<script src="/js/operations.js"></script>
</body>
</html>
