<br>           
<form class="" action="#">
    <div class="form-group">
      <label >Location: </label>
      <input type="text" class="form-control" id="newLocationID" style="width:200px;">
    </div>
    <div class="form-group">
      <label>Cost:</label>
      <input type="number" class="form-control" id="newCostID" style="width:200px;">
    </div>

    <button id='addLandButtonID' class="btn btn-primary" type="button">Add Land</button>
    <p style="font-size:0.75em;">&nbsp;&nbsp;Allowed only for Contract Owner</p>
</form>
<br><br>
<form  action="#">
    <p><strong  style="font-size:30px;">Selling</strong></p>
    <div class="form-group">        
        <label class="mr-sm-2" for="inlineFormCustomSelectPref">Buyer Account:</label>
        <input type="text" class="form-control" id="buyerAccountID" style="width:200px;">
    </div>
    <label>Selected Land ID: <span id='selectedLandID'></span></label><br>
    <button id='transferLandButtonID' class="btn btn-primary" type="button">Transfer</button>
</form>  
<br>                           
 